<section class="flex items-center justify-center h-full m-4 dark:text-white"> <!-- class="bg-white rounded-lg shadow p-4 m-4 max-w-lg mx-auto"> -->
    <div>
      <img alt="Logo of the Angular framework" class="w-full max-w-28 mx-auto my-4" src="/assets/angular.png"/>
      <h1 class="text-4xl font-bold text-center my-4">To-do List App: Angular Edition</h1>
      <p class="max-w-md mx-auto text-center font-medium text-lg text-gray-700 dark:text-gray-50">
        Welcome to the To-do List App, now implemented as a sleek <strong>Single Page Application</strong>
        using 
        <a class="link" href="https://angular.dev">Angular 17</a> and <a class="link" href="https://tailwindcss.com">Tailwind CSS</a>. 
        The backend is the REST API we implemented using <a class="link" href="https://expressjs.com">Express</a> in Lecture 16.
      </p>
    </div>  
  </section>
  
  