<section class="flex items-center justify-center h-full m-4 text-white"> <!-- class="bg-white rounded-lg shadow p-4 m-4 max-w-lg mx-auto"> -->
    <div>
      <h1 class="text-5xl font-bold text-center my-4">SmartQuiz</h1>
      <p class="max-w-md mx-auto text-center font-medium text-lg text-white dark:text-gray-50">
        Challenge yourself with engaging quizzes🧠✨, track your progress, and expand your knowledge, all in one smart platform! Whether you're here to test your skills, learn something new, or compete with friends, <strong>SmartQuiz</strong> makes learning fun and interactive.
      </p>
    </div>  
  </section>
  
  