<div>
  <div class="container mx-auto py-8">
    <h1 class="text-5xl font-bold my-4 text-white">Create Quiz</h1>
    <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
      <div class="col-span-4 sm:col-span-8">
        <div class="bg-white shadow rounded-lg p-6">
          <form
            class="space-y-4 md:space-y-6"
            [formGroup]="quizForm"
            (ngSubmit)="handleCreate()"
          >
            <div>
              <label
                for="title"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Title</label
              >
              <input
                type="text"
                formControlName="title"
                id="title"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                placeholder="Your Quiz Title"
                required=""
              />
              @if(submitted && quizForm.controls.title.errors){
              @if(quizForm.controls.title.errors['required']){
              <p class="form-error">Title is required.</p>
              } }
            </div>
            <div>
              <label
                for="description"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Description</label
              >
              <input
                type="text"
                formControlName="description"
                id="description"
                placeholder="Your Quiz Description"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                required=""
              />
            </div>
            <div>
              <label
                for="question1"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Question 1</label
              >
              <select
                type="text"
                formControlName="typeQuestion1"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                (change)="onTypeChange($event)"
              >
              <option value="" disabled selected>Select Question Type</option>
                <option value="multiple-choice">Multiple Choice</option>
                <option value="open-ended">Open Ended</option>
              </select>
            </div>

            <div>
              @if(selectedType === "multiple-choice"){
              <div>
                <label
                  for="answerA1"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Answer 1</label
                >
                <input
                  type="text"
                  formControlName="answerA1"
                  id="answerA1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                  required=""
                />
              </div>

              <div>
                <label
                  for="answerB1"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Answer 2</label
                >
                <input
                  type="text"
                  formControlName="answerB1"
                  id="answerB1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                  required=""
                />
              </div>

              <div>
                <label
                  for="answerC1"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Answer 3</label
                >
                <input
                  type="text"
                  formControlName="answerC1"
                  id="answerC1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                  required=""
                />
              </div>

              <div>
                <label
                  for="answerD1"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Answer 4</label
                >
                <input
                  type="text"
                  formControlName="answerD1"
                  id="answerD1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                  required=""
                />
              </div>

              } @if(selectedType === "open-ended"){
              <div>
                <label
                  for="correctAnswerOpen1"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Answer</label
                >
                <input
                  type="text"
                  formControlName="correctAnswerOpen1"
                  id="correctAnswerOpen1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                  required=""
                />
              </div>

              }
            </div>

            <div>
              <label
                for="maxErrors"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Number of Errors</label
              >
              <input
                type="number"
                formControlName="maxErrors"
                id="maxErrors"
                placeholder="Maximum number of errors allowed"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                required=""
                min="1"
              />
              @if(submitted && quizForm.controls.maxErrors.errors){
              @if(quizForm.controls.maxErrors.errors['required']){
              <p class="form-error">Max number of errors is required.</p>
              } @if(quizForm.controls.maxErrors.errors['min']) {
              <p class="form-error">
                Max number of errors needs to be at least 1.
              </p>
              } @if(quizForm.controls.maxErrors.errors['max']) {
              <p class="form-error">
                Max number of errors can't be higher than 3.
              </p>
              } }
            </div>
            <button
              type="submit"
              class="w-full text-white bg-orange-700 hover:bg-orange-800 rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Create Quiz
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
